{% extends 'base.html' %}
{% block content %}
<!-- page title -->

  <!-- /page title -->
  
  <!-- about -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">ABOUT OUR JOURNEY</h2>
          <p>There is a need for an online plartform for career development. 
            This is in line with the general idea we had at first. Our database for the first idea was the internet but for the purpose of effeiciency we need a database that is classified well like the national library database.
            Which I am sure they would love to be part of the solving problem team in this project.</p>
          <p>The first main features are user BIO data ,data base User interface and a messaging platform which is not necessary for now.
            The main idea is to bring the library home. And if you have used the E-learning platform of the national library its amazing the searches are so refined. 
            We need to create a platform where users can access national library from home and this platform should be complete within the week.</p>
           <p>So in the app too students of the same course should be able to interacte with each other and maybe discuss academic issues.</p> 
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->
  
  <!-- funfacts -->
  <section class="section-sm bg-primary">
    <div class="container">
      <div class="row">
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white" data-count="60">0</h2>
            <h5 class="text-white">TEACHERS</h5>
          </div>
        </div>
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white" data-count="50">0</h2>
            <h5 class="text-white">COURSES</h5>
          </div>
        </div>
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white" data-count="1000">0</h2>
            <h5 class="text-white">STUDENTS</h5>
          </div>
        </div>
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white" data-count="3737">0</h2>
            <h5 class="text-white">SATISFIED CLIENT</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /funfacts -->
  {% endblock %}