{% extends 'base.html' %}
{% block title %}
	Home
{% endblock %}
{% block content %}
<div class="container-fluid p-3">
    <h1 class="text-center">This is the FAQ page.</h1>
</div>
  <div class="container-fluid section">
    <div class=" row" >
      <div  class="jumbotron col-12">
          <p>Is this an online University?</p>
          <p>No - Imean you get access to knowledge without spending hundreds or even thousands of shillings</p><br>
          <p>Is this site's content free?</p>
          <p>Yes every single pdf/book is free for now</p><br/>

      </div>
    </div>
  </div>
{% endblock %}